<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>오목판</title>
    <link rel="stylesheet" type="text/css" href="/board.style.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- jQuery 사용 -->
  </head>
  <body>
  <h1>Game ID: <span th:text="${gameId}">게임 ID</span></h1>
    <table class="board">
      <tbody>
        <!-- 2차원 배열 'board'의 각 행을 반복 -->
        <tr th:each="row : ${board}">
          <!-- 각 행의 각 칸을 반복 -->

          <td
            th:each="cell : ${row}"
            th:text="${cell != null ? cell : ' '}"
          ></td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
