<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>게임 시작</title>
    <!-- 먼저 STOMP를 로드 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <!-- 그 후 SockJS를 로드 -->
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1.5.1/dist/sockjs.min.js"></script>
  </head>
  <body>
    <h1>오목 게임</h1>

    <button id="startButton">게임시작</button>

    <script>
      const socket = new SockJS("/api/ws-stomp");
      const stompClient = Stomp.over(socket);

      // WebSocket 연결을 설정하고, 연결이 완료되면 콜백 함수 실행
      stompClient.connect({}, function (frame) {
        console.log("Connected: " + frame);

        // 게임 시작 버튼 클릭 시 호출되는 함수
        document.getElementById("startButton").onclick = function () {
          // /pub/start/game 경로로 메시지를 보내 게임을 시작하도록 요청
          stompClient.send("/pub/start/game", {}, JSON.stringify({}));
        };

        // 게임 시작 메시지를 받으면 처리
        stompClient.subscribe("/topic/game/start", function (response) {
          const message = JSON.parse(response.body);
          console.log(message);

          // 게임이 시작되면 오목판 페이지로 이동
          window.location.href = "/game/board/view?gameId=" + message.gameId;
          console.log(message.gameId);
        });
      });
    </script>
  </body>
</html>
